@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background: theme('colors.neutral.100');
}

button, input, textarea, select {
  font: inherit;
}
